.player span {
    display: inline-block;
}

.player__name {
    margin: 0 5px;
}

.player__score {
    font-size: 30px;
}

.player__transient-achievements {

}

.player__transient-achievement {
    margin-bottom: 1rem;
}
