ul > li {
    margin-top: 20px;
    list-style: none;
}

.container:not(:last-child) {
    margin-bottom: 1rem;
}

.container.with-title {
    padding-top: 2rem;
}

.container {
    position: relative;
    padding: 1.5rem 2rem;
}

.balloon.container .balloon {
    max-width: 600px;
    margin: 2rem 2rem;
}

.balloon.container .messages {
    display: flex;
    flex-direction: column;
}
.balloon.container .message {
    display: flex;
}
.balloon.container .message i {
    align-self: flex-end;
}
.balloon.container .message.-left {
    align-self: flex-start;
}
.balloon.container .message.-right {
    align-self: flex-end;
}

.form.container > .field:not(:last-child) {
    margin-bottom: 1rem;
}
