ul > li {
    margin-top: 20px;
    list-style: none;
}

.text-centered {
    text-align: center;
}

.container:not(:last-child) {
    margin-bottom: 1rem;
}

.container-half {
    width: 50%;
}

.container.with-title {
    padding-top: 2rem;
}

.container {
    position: relative;
    padding: 1.5rem 2rem;
}

.balloon.container .balloon {
    max-width: 600px;
    margin: 2rem 2rem;
}

.balloon.container .messages {
    display: flex;
    flex-direction: column;
}

.balloon.container .message {
    display: flex;
}

.balloon.container .message i {
    align-self: flex-end;
}

.balloon.container .message.-left {
    align-self: flex-start;
}

.balloon.container .message.-right {
    align-self: flex-end;
}

.form.container > .field:not(:last-child) {
    margin-bottom: 1rem;
}

.table {
    table-layout: fixed;
    background-color: #fff;
    width: 100%;
}

table.is-centered th {
    text-align: center;
}

table.is-bordered {
    box-shadow: 4px 0 #212529, 0 -4px #212529, -4px 0 #212529, 0 4px #212529;
}

tr th,
tr td {
    padding: 0.5rem;
    word-wrap: break-word;
}


tr th + th {
    box-shadow: -4px 0 #212529;
}

tr td {
    box-shadow: 0 -4px #212529;
}

tr td:not(:first-child) {
    box-shadow: -4px 0 #212529, 0 -4px #212529;
}

.progress-bar {
    position: relative;
    margin: 4px;
    border: none;
    box-shadow: 0 4px #212529, 0 -4px #212529, 4px 0 #212529, -4px 0 #212529;
}

.progress-bar__bar {
    background: #209cee;
    display: block;
    padding: 0.3rem 1rem;
    box-shadow: inset -4px -4px #006bb3;
    color: #fff;
}

.left {
    float: left;
}


.right {
    float: right;
}
